/****************
  COLOR PALETTE
 ****************/
:root {
  --white: #ffffff;
  --black: #000000;
}   

/*************************
  FONT FAMILES AND SIZES
 *************************/
$font-family-open-sans : "Open Sans", sans-serif;


/*********************************************
    SET VARIABLES FOR FILES AND FOLDER PATHS
 *********************************************/
$image-base-path: "../../images/";
