<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" type="text/css" />
    <title>Document</title>
  </head>
  <body>
    <header class="header">
      <h1 class="header__title">Temperature Tracker</h1>
    </header>
    <main class="main">
      <div class="temperature">
        <div class="temperature__input-container">
          <input type="text" id="temperature-input" />
          <button class="temperature__button--add" onclick="addCustomTemperatures()">Add Temperature</button>
          <button class="temperature__button--clear" onclick="clearAll()">Clear All</button>
          <p><small>Add single temperature or multiple temperatures separated by commas</small></p>
        </div>
      </div>
      <div id="results-container" class="results"></div>
    </main>

    <script id="temperature-template" type="text/x-handlebars-template">
      <div class="results__summary">
        <p>Added Temperatures</p>
        <h2>{{ tempratures }}</h2>
      </div>
      <div class="results__temperatures">
        <div class="results__card results__card--min">
          <h2>{{ min }}</h2>
          <b>Min</b>
        </div>
        
        <div class="results__card results__card--max">
          <h2>{{ max }}</h2>
          <b>Max</b>
        </div>
        
        <div class="results__card results__card--avg">
          <h2>{{ avg }}</h2>
          <b>Average</b>
        </div>
      </div>
    </script>

    <script src="/scripts/bundle.js"></script>
    <script src="/scripts/build.js"></script>
  </body>
</html>